# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
bin/
vendored/
pip-selfcheck.json
pyvenv.cfg
__pycache__/
share/

# Serverless directories
.serverless

.env
lib64
